h1.header {
    text-align: center;
}

/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-size: cover; /* This will make the image cover the entire body element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* This will fix the background image in place as you scroll */
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* Define a container for the boxes with a row flex direction */
.container {
    display: flex;
    flex-direction: row; /* Make boxes align horizontally */
    justify-content: center; /* Centrerer boksene vandret */
    align-items: center; /* Centrerer boksene lodret */
    height: 60vh; /* Gør containerhøjden fuld skærmhøjde */
}

.boxLeft {
    flex: 1; /* Equal distribution of space */
    height: 400px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Tilføj en let skygge til boksene */
    text-align: center;
    background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: white; /* Hvid tekstfarve på .boxMid */
    font-size: 15px; /* Ændrer tekststørrelsen */
}

/* Change a class in a class
.boxMid .test {
    text-align: left;
}
*/

.boxMid {
    flex: 1; /* Equal distribution of space */
    height: 400px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Tilføj en tykkere og mørkere skygge til boksene */
    background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: white; /* Hvid tekstfarve på .boxMid */
}

.boxMid p {
    text-align: right;
    margin-right: 25px;
    font-size: 35px;
    font-style: bold;
}


.boxRight {
    flex: 1; /* Equal distribution of space */
    height: 400px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Tilføj en let skygge til boksene */
    text-align: center;
    background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: white; /* Hvid tekstfarve på .boxMid */
    font-size: 15px; /* Ændrer tekststørrelsen */
}

.headerContainer {
    display: flex;
    flex-direction: row; /* Make boxes align horizontally */
    justify-content: center; /* Centrerer boksene vandret */
    align-items: center; /* Centrerer boksene lodret */
    height: 25vh; /* Gør containerhøjden fuld skærmhøjde */
}

.boxTop {
    flex: 1; /* Equal distribution of space */
    height: 160px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    margin-bottom: auto;
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Tilføj en let skygge til boksene */
    text-align: center;
    background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: white; /* Hvid tekstfarve på .boxMid */
    font-size: 15px; /* Ændrer tekststørrelsen */
}

.boxTop .underText {
    font-size: 25px;
}

.bottomContainer {
    display: flex;
    flex-direction: row; /* Make boxes align horizontally */
    justify-content: center; /* Centrerer boksene vandret */
    align-items: center; /* Centrerer boksene lodret */
    height: 50vh; /* Gør containerhøjden fuld skærmhøjde */
}


/* Stil for dag, måned og år */
.boxMid .date {
    font-size: 35px;
    /*margin: 10px;*/
    margin-left: 70px;
    text-align: center;
}

.boxMid .clock {
    font-size: 35px;
    margin-top: 150px;
    margin-left: 70px;
    text-align: center;
}

.boxRight .info {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

.boxRight .ard-info {
    text-align: left;
    margin-left: 20px;
}
