h1.header {
    text-align: center;
}

/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-size: cover; /* This will make the image cover the entire body element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* This will fix the background image in place as you scroll */
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* Define a container for the boxes with a row flex direction */
.container {
    display: flex;
    flex-direction: row; /* Make boxes align horizontally */
    justify-content: center; /* Centrerer boksene vandret */
    align-items: center; /* Centrerer boksene lodret */
    height: 60vh; /* Gør containerhøjden fuld skærmhøjde */
}

.boxLeft {
    flex: 1; /* Equal distribution of space */
    height: 400px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Tilføj en let skygge til boksene */
    text-align: center;
    /*background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: black; /* Hvid tekstfarve på .boxMid */
    font-size: 30px; /* Ændrer tekststørrelsen */
    border: 3px solid black;
    
    /* Centrer alt indhold i midten af boksen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxMid {
    flex: 1; /* Equal distribution of space */
    height: 400px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Tilføj en tykkere og mørkere skygge til boksene */
    /*background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: black; /* Hvid tekstfarve på .boxMid */
    border: 3px solid black;
}

.boxMid p {
    text-align: right;
    margin-right: 25px;
    font-size: 35px;
    font-style: bold;
}


.boxRight {
  
    height: 390px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    width: 397px;
    /* border: 3px solid black; */
}

/* Sørg for, at teksten inde i .boxRight er synlig ved at tilpasse baggrundsfarven */
#idcce51e044cb5a {
    background-color: rgba(0, 0, 0, 0); /* Gør baggrunden gennemsigtig for vejrkassen */
    color: #FFFFFF; /* Tekstfarve er hvid, som vejrkassen */

    bottom: 3px;
    right: 0px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid black;
}

#myChart {
    color: white;
    margin-top: 60px;
}


.headerContainer {
    display: flex;
    flex-direction: row; /* Make boxes align horizontally */
    justify-content: center; /* Centrerer boksene vandret */
    align-items: center; /* Centrerer boksene lodret */
    height: 25vh; /* Gør containerhøjden fuld skærmhøjde */
}

.boxTop {
    flex: 1; /* Equal distribution of space */
    height: 160px; /* Juster højden efter behov */
    margin: 10px; /* Tilføj margin for at separere boksene */
    margin-bottom: auto;
    border-radius: 10px; /* Runde hjørner på boksene */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Tilføj en let skygge til boksene */
    text-align: center;
    /*background-color: rgba(65, 105, 225, 0.5); /* Gør baggrunden mere gennemsigtig kun for .boxMid */
    color: black; /* Hvid tekstfarve på .boxMid */
    font-size: 15px; /* Ændrer tekststørrelsen */
    border: 3px solid black;
}

#topclock {
    position: absolute;
    top: 50%; /* Centrer lodret i forhold til .boxTop */
    right: 10px; /* Afstand fra højre kant af .boxTop */
    transform: translateY(-50%); /* Juster vertikalt for at centrere elementet korrekt */
}




.boxTop .underText {
    font-size: 25px;
}




/* Stil for dag, måned og år */
.boxMid .date {
    font-size: 35px;
    /*margin: 10px;*/
    margin-left: 70px;
    text-align: center;
}

.boxMid .clock {
    font-size: 35px;
    margin-top: 150px;
    margin-left: 70px;
    text-align: center;
}

.boxRight .info {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

.boxRight .ard-info {
    text-align: left;
    margin-left: 20px;
}
